/* SMall devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) and (max-width: 767.9px) {
  body {
    background-color: #ff0;
  }
  .tituloXS,
  .tituloMD,
  .tituloLG,
  .tituloXL {
    display: none;
  }
  img {
    width: 100%;
  }
}
